body {
  margin: 5px;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    45deg,
    #adad98,
    #8b8bb6,
    #b9abab,
    #9f9ab4,
    #8181a3,
    rgb(156, 137, 167)
  );
  background-size: 600% 600%;
  animation: sparkleBackground 30s ease infinite;
  overflow-x: hidden;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #7300ff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #3e0084;
}

.spacer {
  margin-left: auto;
}

#navList {
  width: 100%;
  font-size: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarks {
  display: flex;
  gap: 30px;
  /* justify-content: flex-end; */
}

.bookmarks ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
  text-decoration: none;
  font-size: 25px;
  text-align: left;
}

.bookmarks li {
  display: inline;
  margin: 0 10px;
}

.bookmarks ul li a:hover {
  text-decoration: underline;
  color: #09017c;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

@keyframes sparkleBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.centre-it {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 32px;
  margin: 15px;
  overflow-x: none;
  display: flex;
}

nav{
  width: 100%;
}

#navLogo{
  font-size: 92px;
  color: rgb(70, 1, 161);
  padding-left: 0px;
  margin-left: 0px;
}

#btn {
  font-size: 25px;
  margin: 20px;
}

#img1 {
  height: 290px;
  padding-right: 10px;
  float: left;
  margin: 5px;
}

#img2 {
  height: 290px;
  float: right;
}

#abt #play {
  text-align: justify;
}

#about {
  margin: 20px;
}

* {
  box-sizing: border-box;
}
